@model IEnumerable<E_Com.Models.Data.ProductCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    
<div class="row">
    <div class="col-2">
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="background-color:white;">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ManageProducts" asp-action="Index">
                                    Products
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ManageOrders" asp-action="Index">
                                    Orders
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="ManageCategories" asp-action="Index">
                                    Categories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ManageUsers" asp-action="Index">
                                    Users
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-10">
        <h4>Manage Categories</h4>
        <hr />
        <a asp-action="Create" class="btn btn-danger">Add New Category <i class="fa fa-plus"></i></a>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Product Category
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Created At
                    </th>
                    <th>
                        Modified At
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCategoryDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedAt)
                        </td>
                        <td>
                            <a asp-action="Edit" class="link-warning" asp-route-id="@item.ProductCategoryId"><i class="fa fa-pencil" title="Edit"></i></a>
                           @* <a asp-action="Details" asp-route-id="@item.ProductCategoryId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ProductCategoryId">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

