@model E_Com.Models.Data.Products

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details @Html.DisplayFor(model => model.ProductId) </h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Product Name
        </dt>
        <dt class="col-sm-1">
            :
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            Processor
        </dt>
        <dt class="col-sm-1">
            :
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Processors.ProcessorBrand) @Html.DisplayFor(model => model.Processors.ProcessorType)
        </dd>
        <dt class = "col-sm-2">
            Memory :
        </dt>
        <dt class="col-sm-1">
            :
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.MemoryDevices.MemoryName) @Html.DisplayFor(model => model.MemoryDevices.MemoryType)
        </dd>
        <dt class = "col-sm-2">
            VGA
        </dt>
        <dt class="col-sm-1">
            :
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.VGADevices.VGABrand)
        </dd>
        <dt class = "col-sm-2">
            Operating System
        </dt>
        <dt class="col-sm-1">
            :
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.OperatingSytems.OSBrand) @Html.DisplayFor(model => model.OperatingSytems.OSVersion) @Html.DisplayFor(model => model.OperatingSytems.OSEdition)
        </dd>
        <dt class = "col-sm-2">
            Storage
        </dt>
        <dt class="col-sm-1">
            :
        </dt>
        <dd class = "col-sm-9">
            ( @Html.DisplayFor(model => model.StorageDevices.StorageDeviceType) ) @Html.DisplayFor(model => model.StorageDevices.StorageDeviceName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
