@model IEnumerable<E_Com.Models.Data.Products>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a class="btn btn-sm btn-primary" asp-action="Create">Add New Product</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryDevices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VGADevices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingSytems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageDevices)
            </th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processors.ProcessorBrand) @Html.DisplayFor(modelItem => item.Processors.ProcessorType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryDevices.MemoryName) @Html.DisplayFor(modelItem => item.MemoryDevices.MemoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VGADevices.VGABrand) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingSytems.OSBrand)  @Html.DisplayFor(modelItem => item.OperatingSytems.OSVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageDevices.StrageDeviceType) @Html.DisplayFor(modelItem => item.StorageDevices.StorageDeviceName)
            </td>
            
            <td>
                <div class="btn-group">
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
